@define-color background #282A2E;               
@define-color background-alt #373B41;
@define-color foreground #C5c8C6;
@define-color primary #F0C674;
@define-color secondary #8ABEB7;
@define-color alert #A54242;
@define-color disabled #707880;


* {
    font-family: Maplemono NF;
    font-size: 16px;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

window#waybar {
    background: @background;
    color: @foreground;
}

#workspaces {
    padding-right: 10px;
}

#workspaces button {
    padding: 0 0.6rem;
    border-radius: 0;
    color: @foreground;
}

#workspaces button.active {
    background-color: @background-alt;
    border-bottom: 3px solid @primary;
}

#workspaces button.urgent {
    color: @alert;
}

#mode, #battery, #cpu, #memory, #backlight, #pulseaudio {
    padding: 0 10px;
}

#clock{
    color: @primary;
}


#battery.charging {
    color: green;
}

@keyframes blink {
    to {
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: @alert;
}
